body {
  margin: 0;
}

.selector .damage {
  color: brown;
}

/* 不加空格就是同时具有这两个类的时候的样式，优先级比加空格的要高 */
.selector.damage {
  color: blue; 
}
/* 中括号的是属性选择器，当元素具备某个属性时生效 */
/* 可以跟上属性的值，精准选择 */
img[alt] {
  border: 3px solid red;
}
/* 部分属性值选择器，根据属性的值的一部分去匹配，相互之间的优先级相同 */
/* 属性值包含子串“en” */
/* *=的选择范围比较广，几乎涵盖了下面的几种选择器，用到的时候要写在最前面 */
img[lang*="en"] {
  border-color: grey;
}
/* 属性值以“en-”开头，或者“en”自身 */
img[lang|="en"] {
  border-color: green;
}
/* 属性值包含“en”的一组词 */
/* 区别：~=是选择有一组单词列表中包含指定名称的元素；*=是选择一个字符串中包含指定名称的元素 */
img[lang~="en"] {
  border-color: blue;
}
/* 属性值以“cy”开头 */
img[lang^="cy"] {
  border-color: purple;
}
/* 属性值以“en”结尾 */
/* i标识符是强制执行大小写不区分 */
img[lang$="en" i] {
  border-color: deeppink;
}

/* 子类选择器，只选择子级的元素，而不选择后代的元素 */
h1 > strong {
  color: pink;
}

/* 不相邻兄弟元素选择器，即中间有其他元素间隔，当然也可以选择相邻的兄弟元素 */
h1 ~ h2 {
  color: darkred;
}

/* 相邻元素选择器，选择紧挨着元素 */
h2 + h3 {
  color: cadetblue;
}