.strong-list {
  color: red;
}

.table {
  width: 100%;
}

.table .dom {
  width: 100px;
  background-color: black;
}

.table .effect {
  width: 200px;
  background-color: blueviolet;
}

.table .property {
  width: 300px;
  background-color: brown;
}

.th-first, .td-first {
  color: aliceblue;
}

.th-second, .td-second {
  color: antiquewhite;
}

.th-third, .td-third {
  color: aqua;
}